/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 *
 * Base Styles
 *
 */
body {
  background-color: #fff;
  font: 13px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; }

a {
  color: #000; }

a:hover {
  background-color: #00bfff; }

h1 {
  font-weight: 600;
  font-size: 26px;
  margin: 5px; }

h2 {
  font-weight: 600;
  font-size: 20px;
  margin: 5px; }

canvas {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: block; }

.canvasWrapper {
  z-index: -1; }

.countContainer {
  position: absolute;
  top: 15px;
  left: 15px; }

@-webkit-keyframes highlight {
  from {
    background: #fa3c3c; }
  to {
    background: #fff; } }

.countContainer .count.has-updated {
  background: #fa3c3c;
  -webkit-animation: highlight 500ms;
  animation: highlight 500ms; }

/*
 *
 * Home Page
 *
 */
.center {
  text-align: center;
  dispaly: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 400px; }

.inner {
  width: 400px;
  text-align: center; }

.inner ul {
  padding: 0; }

.inner ul li {
  list-style: none;
  display: inline-block;
  padding: 0; }

.homePage-inner {
  z-index: 2; }
  .homePage-inner ul li {
    width: 70px; }
  .homePage-inner h1 {
    margin: 30px; }

.page--about .description {
  padding: 5px; }

.page--about .projects {
  margin-bottom: 25px; }

.page--about .role {
  margin: 20px; }

.page--about .home {
  margin-top: 20px; }

.page--about .projects ul li {
  margin-bottom: 20px; }

.page--about .projects ul .link_description {
  margin-top: 5px; }

/*
 * Posts
 *
 */
.page--posts .inner {
  width: 600px;
  text-align: left; }
