{{ partial "header" }}

<section class="page--about center">
	<div class="inner">
		<div class="name">
			<h1>{{ .Params.name }}<h1>
		</div>
		<div class="description">{{ .Description }}</div>
		<div class="role">
			{{ .Params.job_title}}
			at
			<a href="{{ .Params.company_url }}">{{ .Params.company_name }}</a>
		</div>

		<div class="projects">
			<h2>Projects:</h2>
			<ul>
				<li>
					<a class="link" href="https://github.com/andrewvy/edpm">edpm</a>
					<div class="link_description">experimental node.js package manager, built for educational purposes.</div>
				</li>
				<li>
					<a class="link" href="https://github.com/andrewvy/experiment">Experiment</a>
					<div class="link_description">Elixir Library port of GitHub's Scientist Gem.</div>
				</li>
				<li>
					<a class="link" href="https://github.com/andrewvy/candidatemoji">candidatemoji</a>
					<div class="link_description">A Twitter bot that turns US Presidential Candidate's tweets and emojifies them.</div>
				</li>
				<li>
					<a class="link" href="https://github.com/andrewvy/peach-client">peach-client</a>
					<div class="link_description">A simple, unofficial Peach (peach.cool) API client for NodeJS.</div>
				</li>
				<li>
					<a class="link" href="https://github.com/andrewvy/nima">Nima</a>
					<div class="link_description">RST-based static website generator in Nim</div>
				</li>
				<li>
					<a class="link" href="https://github.com/andrewvy/HHVMCraft">HHVMCraft</a>
					<div class="link_description">Minecraft Server implemented in PHP, originally designed for the HHVM platform and transitioned to vanilla PHP.</div>
				</li>
				<li>
					<a class="link" href="https://github.com/andrewvy/league-node">league-node</a>
					<div class="link_description">League of Legends RTMP Client written in Node.js</div>
				</li>
				<li>
					<a class="link" href="https://github.com/andrewvy/slack-pongbot">slack-pongbot</a>
					<div class="link_description">Slack bot for ping-pong tracking</div>
				</li>
				<li>
					<a class="link" href="https://github.com/andrewvy/headmaster">Headmaster</a>
					<div class="link_description">Slack bot with natural language processing for dev automation</div>
				</li>
			</ul>
		</div>

		<hr>

		<div class="home">
			<a href="/">Home</a>
		</div>
	</div>
</section>

{{ partial "footer" }}
{{ partial "socket_io" }}
