{{ partial "header" }}

<section class="page--about center">
	<div class="inner">
		<div class="name">
			<h1>{{ .Params.name }}<h1>
		</div>
		<div class="description">{{ .Description }}</div>
		<div class="role">
			{{ .Params.job_title}}
			at
			<a href="{{ .Params.company_url }}">{{ .Params.company_name }}</a>
		</div>

		<div class="projects">
			<h2>Projects:</h2>
			<ul>
				{{ range $key, $value := .Params.links }}
				<li>
					<a class="link" href={{ $value }}>{{ $key }}</a>
				</li>
				{{ end }}
			</ul>
		</div>

		<hr>

		<div class="home">
			<a href="/">Home</a>
		</div>
	</div>
</section>

{{ partial "footer" }}
{{ partial "socket_io" }}
