{{ partial "header" }}

<div class="homePage-center center">
	<div class="homePage-inner inner">
		<h1>Andrew Vy</h1>
		<ul>
			<li>
				<a href="https://twitter.com/andrew_vy">Twitter</a>
			</li>
			<li>
				<a href="https://github.com/andrewvy">GitHub</a>
			</li>
			<li>
				<a href="mailto:andrew@andrewvy.com">Email</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
		</ul>
	</div>
	<div class="canvasWrapper">
	</div>
</div>


{{ partial "footer" }}
<script src="/javascripts/home.js"></script>
